body {
    line-height: 1.6;
}

label {
    display: block;
    font-weight: bold;

    .description {
        display: block;
        font-weight: normal;
    }

    input,
    textarea {
        display: block;
    }
}

.afova-context.afova-active {
    border-left: 3px solid red;
}

.afova-message-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.afova-message,
.afova-collected-message {
    font-weight: bold;
    color: red;
}
