body {
    line-height: 1.6;
    padding: 2em;
}

label {
    display: block;
    font-weight: bold;
    margin: 2em 0;

    .description {
        display: block;
        font-weight: normal;
    }

    input,
    textarea {
        display: block;
        padding: 5px;
        appearance: none;
        font-size: inherit;
        border: 1px solid black;

        &:focus {
            border: 1px solid transparent;
            outline: 3px solid black;
        }
    }
}

label input[type="checkbox"],
label input[type="radio"] {
    display: inline-block;
    margin-right: 1em;
}

.afova-context.afova-active {
    border-left: 3px solid red;
    padding-left: 10px;
    margin-left: -13px;

    [aria-invalid]:focus {
        outline: 3px solid red;
        border: 1px solid transparent;
    }
}

.afova-message,
.afova-collected-message {
    font-weight: bold;
    color: red;
}

.afova-form-message-container {
    margin: 1em 0;
    border: 3px solid red;
    display: inline-block;
    padding: 10px;
    margin-left: -13px;

    & > ul.afova-message-list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        & > li {
            margin: 0.5em 0;
        }
    }
}
